* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.main {
    background-color: #FDFCF0;
}

#header-container #header_btn {
    margin: auto;
    height: 29px;
    width: 100%;
    background-color: #fdfcf0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#header-container #header_btn .btn-cover {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 2px 10px;
}



#header-container #header_btn a {
    height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #666;
    display: inline-block;
    font-weight: 500;
}

#header-container #header_btn a:hover {
    cursor: pointer;
    opacity: 0.8;
}

#header-container #header_btn .icon {
    margin-right: 2px;
}

#header-container #bg-top {
    display: block;
    width: 100%;
    background: url(../../img/bg-top.png) repeat-x scroll left bottom transparent;
    background-size: 10px 135px;
    height: 135px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
}

#header-container #bg-top .top-container {
    height: 100%;
    margin: 0 auto;
    display: block;
}

#header-container #bg-top .logo {
    display: block;
    float: left;
    min-width: 50px;
    min-height: 44px;
    margin: 25px 0px 40px 470px;
    justify-content: center;
    box-sizing: border-box;
}


#header-container #bg-top .menu {
    display: block;
    float: left;
    margin-left: -15px;
    margin-top: 40px;
    overflow: hidden;
    font-weight: 800;
    text-transform: uppercase;
    list-style-type: none;
    min-width: 130px;
    padding: 20px;
    /* position: absolute; */
}

#header-container #bg-top .menu .subMenu {
    list-style-type: none;
    text-transform: none;
    display: none;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg_menu_hover.png?fbclid=IwAR1l3sfppIH0yqnvZvIsMCyd-bbzL5yD1WKVRqzqR2WxQ9_DBt7Qz_mGbQ0);
    margin-top: 5px;
    padding: 15px 40px 15px 15px;
    position: absolute;
    border: 3px solid #828282;
    opacity: 1;
}

#header-container #bg-top .menu .subMenu a:hover {
    color: #E71A0F;
}

#header-container #bg-top .menu:hover .subMenu {
    display: block;
}

#header-container #bg-top .menu .subMenu>li {
    display: block !important;
    text-transform: none;
    text-align: left;
}

#header-container #bg-top .menu .subMenu a {
    text-decoration: none;
    color: #fdfcf0;
}

/* #header-container #bg-top a {
    text-decoration: none;
    color: black;
} */

#header-container #bg-top #kenhCine {
    display: block;
    float: left;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 10px;
}

#header-container #bg-top #muaVe {
    display: block;
    float: left;
    margin: 0 auto;
    margin-top: 0px;
}