.form {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    margin: auto;
    box-shadow: 2px 2px 2px 2px #ccc;
}

.form-body {
    width: 40%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    background-color: #fcfdf0;
}

.form-body h3 {
    background-color: #e71a0f;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 20px 20px 10px;
    text-align: center;
    width: 100%;
}

pre {
    width: 70%;
    color: #fff;
    font-size: larger;
}

.form__label {
    width: 100%;
    margin: 12px 0 10px 0;
    font-weight: bold;
}

#body_f input {
    width: 100%;
}

button {
    background: red !important;
    color: #ffff !important;
}

/* p {
    color: red;
} */

.btn {
    background-color: red;
    width: 100%;
    border: none;
    padding: 10px;
    margin-top: 20px;

    text-align: center;

}